
.vnvImage{
  width: 50%;
  
  /* margin: 2%; */
  border: 1px solid black;
  flex: 0 1 20%;
}

.projectsMod{
  /* flex-direction: row; */
  display: flex;
  align-items: center;
  padding: 0%;
  
}

.projectText{
  flex: 1 1 100%;
  text-align: center;
}

.vIG{
  width: 100%;
  min-width: 400px;
  flex: 1 1 100%;
  

  
}




