
.vnvImage{
  width: 50%;
  
  /* margin: 2%; */
  border: 1px solid black;
  flex: 0 1 20%;
}

.projectsMod{
  /* flex-direction: row; */
   display: flex;
  align-items: center;
  padding: 0%;
  
  flex-wrap: wrap;
  justify-content: center;
  padding: 3%;
  padding-top: 3%;
  flex-direction: row;
  background-color: #33353d;
  align-items: center;
  /* max-height: 100%; */
  gap: 5%;
  
}

.projectHeader{
  /* flex: 1;
  max-width: 25%;
  font-size: 1.4em;
  text-indent: 35px;
  color:#fff;
  text-align:justify;
  word-break:keep-all;
  align-self: center; */
}

.projectCont{
  padding: 4%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.projectText{
  flex: 1 1 100%;
  text-align: center;
}

.vIG{
  width: 100%;
  height: 100%;
  
  flex: 1 1 100%;
  
  

  
}




